.a{
    color: white;
    font-size: 30px;
    font-family: 微软雅黑;
    float: left;
    margin-left: 10px;
}
.b{
    font-family: 宋体;
    font-size: 17px;
    text-align: center;
    line-height: 50px;
    float: right;
    color: white;
    width: 130px;
    height: 50px;
}

.b:hover{
    background-color: red;
}
.b a{
    padding: 15px;
}
.b a:hover{
    border-bottom: solid 2px burlywood;
}
.f{
    background-color: #c0a16b;
    margin: 15px;
    line-height: 35px;
    height: 35px;
    color: white;
    font-family: 微软雅黑;
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}
.box{
    width:50px;
    height:50px;
    /* border:1px solid pink; */
    position: fixed;
    bottom: 0;
    background-image: url(../pic/蜀4.png);
    animation:
            move 1s steps(12) infinite,
            run 3s linear infinite;
}
/* 人在盒子里跑 */
/*@keyframes move{*/
/*    from{*/
/*        background-position: -1680px 0;*/
/*    }*/
/*    !* 若从0 开始的话这个from可以省去 *!*/
/*    !* from{*/
/*        background-position: 0 0;*/
/*    } *!*/
/*    to{*/
/*        background-position: 0 0;*/
/*    }*/
/*}*/
@keyframes run{
    from{
        transform: translateX(1500px);
    }
    /* 若从0 开始的话这个from可以省去 */
    /* from{
        transform: translateX(0);
    } */
}
.mu{
    width: 80px;
    height: 200px;
    position: fixed;
    right: 30px;
    bottom: 80px;
    /*border: 2px solid red;*/
    text-align: center;
}
.login{
    width: 60%;
    height: 500px;
    background-color: ghostwhite;
    box-shadow: 3px 3px 2px lightgray;
    margin: 50px 20%;
    border-radius: 12px;
}
.login .title{
    color: #999999;
    width: 40%;
    height: 60px;
    line-height: 120px;
    margin: 30px 30%;
    border-bottom: 4px solid crimson;
    font-size: 30px;
    text-align: center;
    padding: 0px 0px;
}
.login input{
    width: 70%;
    height: 30px;
    border-radius: 2px;
    margin: 10px 15%;
    outline: none;
    border: transparent;
    text-indent: 2em;
    font-size: 20px;
}
.login button{
    width: 70%;
    height: 30px;
    border-radius: 30px;
    margin: 10px 15%;
    border: transparent;
    background-color: red;
    font-size: 20px;
    color: white;
}
.login p{
    margin-left: 160px;
    margin-top: 20px;
    font-size: 20px;
}
.login p a{
    text-decoration: none;
    color: #565aff;
}
.ve {
    height: 450px;
    width:250px;
    margin: 20px;
    /* 设置overflow: hidden 当放大的时候超出部分隐藏 */
    overflow: hidden;
    float: left;
}
.ve img {
    display: inline-block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all .6s;
}
.ve img:hover {
    transform: scale(1.3);
}
body {
    background: whitesmoke;
}

img {
    max-width: 100%;
}

.zhe .weaper{
    perspective: 1000px;
    background-color: black;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.song1{
    height: 100%;
    width: 100%;
    display: flex;
    transform-style: preserve-3d;
    position:relative;
    justify-content: center;
    align-items: center;
    animation: spin 10s linear infinite;

}
.song1:hover{
    animation-play-state: paused;
}
.song1 div{
    height: 280px;
    width: 220px;
    position: absolute;


}
.song1 div:nth-child(1){
    background: url("../pic/蜀01.webp");
    background-size: cover;
    transform: rotateY(162deg) translateZ(400px);
}
.song1 div:nth-child(2){
    background: url("../pic/蜀02.webp");
    background-size: cover;
    transform: rotateY(126deg) translateZ(400px);
}
.song1 div:nth-child(3){
    background: url("../pic/蜀03.webp");
    background-size: cover;
    transform:rotateY(90deg) translateZ(400px);
}
.song1 div:nth-child(4){
    background: url("../pic/蜀04.jpg");
    background-size: cover;
    transform:rotateY(54deg) translateZ(400px);
}
.song1 div:nth-child(5){
    background: url("../pic/蜀05.jpg");
    background-size: cover;
    transform:rotateY(18deg) translateZ(400px);
}
.song1 div:nth-child(6){
    background: url("../pic/蜀06.jpg");
    background-size: cover;
    transform:rotateY(-18deg) translateZ(400px);
}
.song1 div:nth-child(7){
    background: url("../pic/蜀07.jpg");
    background-size: cover;
    transform:rotateY(-54deg) translateZ(400px);
}
.song1 div:nth-child(8){
    background: url("../pic/蜀08.jpg");
    background-size: cover;
    transform:rotateY(-90deg) translateZ(400px);
}
.song1 div:nth-child(9){
    background: url("../pic/蜀09.jpg");
    background-size: cover;
    transform:rotateY(-126deg) translateZ(400px);
}
.song1 div:nth-child(10){
    background: url("../pic/蜀010.jpg");
    background-size: cover;
    transform:rotateY(-162deg)translateZ(400px);
}
@keyframes spin {
    to{
        transform: rotateY(360deg);
    }
}

.gallery {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5rem;
}
.gallery__image {
    padding: 0.5rem 0.5rem 1.5rem;
    background: white;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform-origin: center -5rem;
}
.gallery__image::before {
    content: "";
    display: block;
    height: 10rem;
    width: 2px;
    background: saddlebrown;
    position: absolute;
    bottom: 100%;
    left: 50%;
}
.gallery__image:nth-child(1) {
    animation: 5s infinite bounce;
    animation-name: image1;
    transform: rotate(-10deg);
}
.gallery__image:nth-child(2) {
    animation: 4.5s infinite bounce;
    animation-name: image2;
    transform: rotate(8deg);
}
.gallery__image:nth-child(3) {
    animation: 4s infinite bounce;
    animation-name: image3;
    transform: rotate(-4deg);
}

@keyframes image1 {
    50% {
        transform: rotate(10deg);
    }
}
@keyframes image2 {
    50% {
        transform: rotate(-5deg);
    }
}
@keyframes image3 {
    50% {
        transform: rotate(6deg);
    }
}

